
  fieldset {
    margin-bottom: 15px;
    padding: 10px;
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
  }
   
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }
   
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
   
  input:focus {
    background: #eaeaea;
  }
   
  input {
    width: 249px;
  }
 
   
  select {
    width: 254px;
  }
   
  input[type=checkbox] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }

  .error{
    background-color: pink; 
    padding: 5px; 
    border-width: 1px; 
    border-style: solid; 
    border-color: black;

  }

  .resultat{
    background-color: green; 
    color: white; 
    padding: 5px; 
    border-width: 1px; 
    border-style: solid;

  }